@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif; }

button {
  width: 100px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }
  button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px); }

.main-wrapper .controls {
  display: flex;
  width: 500px;
  margin: auto;
  padding-top: 20px; }
  .main-wrapper .controls > div {
    flex: 1; }
  .main-wrapper .controls button {
    width: 100%; }

.main-wrapper .canvas-container {
  margin: auto;
  margin-top: 50px; }
  .main-wrapper .canvas-container canvas {
    border-radius: 5px; }

.main-wrapper .modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none; }
  .main-wrapper .modal .inner-wrapper {
    width: 400px;
    text-align: center;
    padding: 50px 20px;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4); }
    .main-wrapper .modal .inner-wrapper .score {
      font-size: 20px; }
    .main-wrapper .modal .inner-wrapper button {
      margin-top: 20px; }
      .main-wrapper .modal .inner-wrapper button.red {
        background-color: rgba(255, 0, 0, 0.3); }
        .main-wrapper .modal .inner-wrapper button.red:hover {
          background-color: rgba(255, 0, 0, 0.7); }
      .main-wrapper .modal .inner-wrapper button.green {
        background-color: rgba(46, 229, 157, 0.3); }
        .main-wrapper .modal .inner-wrapper button.green:hover {
          background-color: rgba(46, 229, 157, 0.7); }
